<!DOCTYPE html>
<html lang="en">
    <%- include('layouts/header'); -%>
    <body>
        <!-- Navigation-->
        <%- include('layouts/navigation'); -%>
        <!-- Page Header-->
        <header class="masthead" style="background-image: url('assets/img/3.jpg')">
            <div class="container position-relative px-4 px-lg-5">
                <div class="row gx-4 gx-lg-5 justify-content-center">
                    <div class="col-md-10 col-lg-8 col-xl-7">
                        <div class="site-heading">
                            <h1>G2 Licence</h1>
                            <span class="subheading">application</span>
                        </div>
                    </div>
                </div>
            </div>
        </header>
        <!-- Main Content-->
        <main class="mb-4">
            <div class="container px-4 px-lg-5">
                <div class="row gx-4 gx-lg-5 justify-content-center">
                    <div class="col-md-10 col-lg-8 col-xl-7">
                        <div class="my-5">
                            <!-- * * * * * * * * * * * * * * *-->
                            <!-- * * SB Forms Contact Form * *-->
                            <!-- * * * * * * * * * * * * * * *-->
                            <!-- This form is pre-integrated with SB Forms.-->
                            <!-- To make this form functional, sign up at-->
                            <!-- https://startbootstrap.com/solution/contact-forms-->
                            <!-- to get an API token!-->
                            <form id="contactForm" action="/g2/create" method="POST">
                                <div class="form-floating">
                                    <input class="form-control" id="fname" name="fname" type="text" placeholder="Enter your name..." data-sb-validations="required" />
                                    <label for="fname">First Name</label>
                                    <div class="invalid-feedback" data-sb-feedback="name:required">A first name is required.</div>
                                </div>

                                <div class="form-floating">
                                    <input class="form-control" id="lname" name="lname" type="text" placeholder="Enter your name..." data-sb-validations="required" />
                                    <label for="lname">Last Name</label>
                                    <div class="invalid-feedback" data-sb-feedback="name:required">A last name is required.</div>
                                </div>

                                <div class="form-floating">
                                    <input class="form-control" id="license" name="license" type="text" placeholder="Enter your license Number..." data-sb-validations="required" />
                                    <label for="license">License Number</label>
                                    <div class="invalid-feedback" data-sb-feedback="name:required">A license number is required.</div>
                                </div>

                                <div class="form-floating">
                                    <input class="form-control" id="age" name="age" type="number" placeholder="Enter your age..." data-sb-validations="required" />
                                    <label for="datepicker">Age</label>
                                    <div class="invalid-feedback" data-sb-feedback="name:required">An age is required.</div>
                                </div>

                                <div class="form-floating">
                                    <input class="form-control" id="dob" name="dob" type="text" placeholder="Enter your Date of Birth..." data-sb-validations="required" />
                                    <label for="dob">DOB</label>
                                    <div class="invalid-feedback" data-sb-feedback="name:required">A Date of Birth is required.</div>
                                </div>

                                <div class="form-floating">
                                    <input class="form-control" id="make" name="car_details[make]" type="text" placeholder="Enter the car make..." data-sb-validations="required" />
                                    <label for="make">Make</label>
                                    <div class="invalid-feedback" data-sb-feedback="name:required">Car make is required.</div>
                                </div>

                                <div class="form-floating">
                                    <input class="form-control" id="model" name="car_details[model]" type="text" placeholder="Enter car model..." data-sb-validations="required" />
                                    <label for="model">Model</label>
                                    <div class="invalid-feedback" data-sb-feedback="name:required">A model name is required.</div>
                                </div>

                                <div class="form-floating">
                                    <input class="form-control" id="year" name="car_details[year]"type="number" placeholder="Enter year..." data-sb-validations="required" />
                                    <label for="year">Year</label>
                                    <div class="invalid-feedback" data-sb-feedback="name:required">year is required.</div>
                                </div>

                                <div class="form-floating">
                                    <input class="form-control" id="pno" name="car_details[pno]" type="text" placeholder="Enter plate number..." data-sb-validations="required" />
                                    <label for="pno">plate number</label>
                                    <div class="invalid-feedback" data-sb-feedback="name:required">plate is required.</div>
                                </div>
                                <!-- <div class="form-floating">
                                    <input class="form-control" id="email" type="email" placeholder="Enter your email..." data-sb-validations="required,email" />
                                    <label for="email">Email address</label>
                                    <div class="invalid-feedback" data-sb-feedback="email:required">An email is required.</div>
                                    <div class="invalid-feedback" data-sb-feedback="email:email">Email is not valid.</div>
                                </div>
                                <div class="form-floating">
                                    <input class="form-control" id="phone" type="tel" placeholder="Enter your phone number..." data-sb-validations="required" />
                                    <label for="phone">Phone Number</label>
                                    <div class="invalid-feedback" data-sb-feedback="phone:required">A phone number is required.</div>
                                </div>
                                <div class="form-floating">
                                    <textarea class="form-control" id="message" placeholder="Enter your message here..." style="height: 12rem" data-sb-validations="required"></textarea>
                                    <label for="message">Message</label>
                                    <div class="invalid-feedback" data-sb-feedback="message:required">A message is required.</div>
                                </div> -->
                                <br />
                                <!-- Submit success message-->
                                <!---->
                                <!-- This is what your users will see when the form-->
                                <!-- has successfully submitted-->
                                <!-- <div class="d-none" id="submitSuccessMessage">
                                    <div class="text-center mb-3">
                                        <div class="fw-bolder">Form submission successful!</div>
                                        
                                        <br />
                                        
                                    </div>
                                </div> -->
                                <!-- Submit error message-->
                                <!---->
                                <!-- This is what your users will see when there is-->
                                <!-- an error submitting the form-->
                                <div class="d-none" id="submitErrorMessage"><div class="text-center text-danger mb-3">Error sending message!</div></div>
                                <!-- Submit Button-->
                                <button class="btn btn-primary" id="submitButton" type="submit">Save</button>
                            </form>
                        </div>
                    </div>
                </div>
            </div>
        </main>
        <!-- Footer-->
        <%- include('layouts/footer'); -%>
        <%- include('layouts/scripts'); -%>
        <!-- * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * *-->
        <!-- * *                               SB Forms JS                               * *-->
        <!-- * * Activate your form at https://startbootstrap.com/solution/contact-forms * *-->
        <!-- * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * *-->
    </body>
</html>
